<% if @posts.present? %>
  <ul class="short-posts">
    <% @posts.each do |post| %>
      <a href=<%= post_path(post) %>><li><%= render partial: "post_short", locals: {post: post} %></li></a>
    <% end %>
  </ul>
<% else %>
  <i>There aren't any posts in this category yet!</i>
<% end %>
