<p id="notice"><%= notice %></p>

<strong>Title:</strong>
<p>
  <%= @post.title %>
</p>

<p>
  <%= raw markdown_renderer.render(@post.body) %>
</p>

<%= link_to 'Edit', edit_post_path(@post) if admin_user? %>
