// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.short-posts {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.short-posts li {
  border-style: solid;
  border-color: lighten($primary-background-color, 18%);
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 5px;
}

ul.short-posts li:hover {
  background-color: lighten($secondary-background-color, 30%);
}

.post-tag {
  background-color: lighten($primary-background-color, 15%);
  border-radius: 1em;
  margin: 3px;
  color: green;
  text-align: center;
}

li:hover .post-tag {
  background-color: lighten($primary-background-color, 5%);
}

ul.short-posts > a {
  text-decoration: none;
  color: $default-text-color;
}

/*.short-posts * {
  border: 1px solid black;
}*/